@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");

:root {
  --main-bg-color: #2874f0;
}

* {
  margin: 0;
  padding: 0;
}
header {
  background-color: var(--main-bg-color);
  border: 2px solid tomato;
  font-family: "Lato", sans-serif;
}
nav {
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 88px;
  padding: 0 25px;
}
.search {
  display: flex;
  justify-content: center;
}
#tx {
  width: 30vw;
  height: 30px;
  border-radius: 2px;
  margin: 0 50px;
  padding: 0 10px;
}

.slider {
  width: 80vw;
  margin: 12px auto;
  overflow: hidden;
}

.card{
  display:flex;
  max-width: 90vw;
  margin: 30px auto;
  padding: 0px 10px;

}

.container {
  min-height: calc(100vh - 60px - 12vh);
}
nav ul {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav ul li {
  padding: 0 20px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  font-weight: 30px;
  color: black;
  font-family: "Rampart One", cursive;
}
footer {
  height: 12vh;
  background-color: var(--main-bg-color);
  color: white;
  font-family: "Lato", sans-serif;
}
